<div class="row row-cols-1 row-cols-md-2">
    <% @todos.each do  |todo| %>
    <div class="col mb-4">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5><%= todo.description %>
          <p class="card-text">This is aead-in to additional content. This content is a little bit longer.</p><%= todo.completed %>
          <%= link_to "edit ToDo", edit_todo_path(todo), class: "btn btn-warning" %>
          <%= link_to "show ToDo", todo_path(todo), class: "btn btn-warning" %>
          <%= link_to "delete ToDo", todo_path(todo), class: "btn btn-warning", method: :delete, data:{ confirm: "are you seguro?"} %>
          <%= link_to "complete ToDo", todos_complete_path(todo), class: "btn btn-warning", data: { confirm: "Have you completado tu Homework?"} %>
        </div>
      </div>
    </div>
    <% end %>
  </div>